.magic_<%=singular_name%>_list_item{:id => "<%=singular_name%>_#{<%=singular_name%>.id}"}
  =link_to("<%=singular_name.capitalize%>: #{<%=singular_name%>}", <%=singular_name%>)
  =link_to_remote("x", :url => url_for(<%=singular_name%>), :method => :delete, :confirm => "Are you sure?")